<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/97fed97af5.js" crossorigin="anonymous"></script>
    <title>Anastasia</title>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fullpage.min.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    </head>
    
    <body>
    
    <div id="video">
        <div class="preloader">
            <div class="preloader-bounce">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <header id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <a href="#" id="logo" title="Elegance by TemplateMo">
                        Anastasia
                    </a>
                    <div class="navigation-row">
                        <nav id="navigation">
                            <button type="button" class="navbar-toggle"> <i class="fa fa-bars"></i> </button>
                            <div class="nav-box navbar-collapse">
                                <ul class="navigation-menu nav navbar-nav navbars" id="nav">
                                    <li data-menuanchor="slide01" class="active"><a href="#slide01">Inicio</a></li>
                                    <li data-menuanchor="slide02"><a href="#slide02">Conoceme</a></li>
                                    <li data-menuanchor="slide03"><a href="#slide03">Servicios</a></li>
                                    <li data-menuanchor="slide04"><a href="#slide04">Guia</a></li>
                                    <li data-menuanchor="slide05"><a href="#slide05">Hasta Luego</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <video autoplay muted loop id="myVideo">
          <source src="images/video-bg.mp4" type="video/mp4">
        </video>

        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Hola, Bienvenido a</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">Anastasia</h1>
                        <p class="animate" data-animate="fadeInUp">Si no sabes ¿Que es?. Te lo diremos... Esta es una guia interactiva de desarrollo de interfaces graficas con un uso ampliado en diferentes entornos laborales para minimizar el aburrimiento en sus trabajos</p>
                        <div class="scroll-down next-section animate data-animate="fadeInUp""><img src="static/images/mouse-scroll.png" alt=""><span>Scroll Down</span></div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>Sobre mi</span>
                                                <h2>Que uso tiene Anastasia?</h2>
                                                <p>Anastasia es una <strong>Guia interactiva</strong> y <strong>Orientadora</strong> para el desarrollo y uso de interfaces graficas en los aplicativos laborales que se pueden presenciar en una empresa 
                                                    y poder minimizar el aburrimiento laboral con un <strong>¡Buen uso practico en!...</strong></p>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-trophy counter-icon" aria-hidden="true"></i><span class="count-number">Bajar</span>El Aburrimiento
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-graduation-cap counter-icon" aria-hidden="true"></i><span class="count-number">Mejorar</span> El Rendimiento
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-desktop counter-icon" aria-hidden="true"></i><span class="count-number">Relacion</span> Humano-Maquina
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-support counter-icon" aria-hidden="true"></i><span class="count-number">6</span> Team Members
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <i class="fa fa-certificate counter-icon" aria-hidden="true"></i><span class="count-number">10</span> Certificates
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="static/images/profile-girl.jpg" class="rounded" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <h2>¿Como Empezar?</h2>
                                <span>Empecemos con lo que debes tener en cuenta</span>
                            </div>
                            <div class="services-section">
                                <div class="services-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa-brands fa-python" aria-hidden="true"></i></span>
                                            <h3>Python</h3>
                                            <p>Para mejorar los rendimientos y uso de codigo Backend en sus aplicativos.</p>
                                            <p>Flask y Django, No es obligatorio, ya que no todos los aplicativos son webs</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                                            <h3>HTML,CSS y JS</h3>
                                            <p>Es basico para desarrollar interfaces o paginas web.</p>
                                            <p>No es obligatorio, ya que no todos los aplicativos son webs</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                            <h3>Conocimiento Responsive</h3>
                                            <p>Una buena distribucion de espacio y correcta visualizacion de las interfaces mejora la organizacion y concentra la mente. </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa-solid fa-code" aria-hidden="true"></i></span>
                                            <h3>Optimizacion</h3>
                                            <p>Un codigo bien optimizado para generar los menores inconveniente son de vital importancia para la relacion Humano-Maquina. </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-comments" aria-hidden="true"></i></span>
                                            <h3>Soporte Rapido</h3>
                                            <p>Una buena reaccion a problemas y generacion de soluciones a los aplicativos es util en la mentalidad de un empleado. </p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa-solid fa-palette" aria-hidden="true"></i></span>
                                            <h3>Teoria del Color</h3>
                                            <p>La implementacion de la teoria del color en las interfaces generan reacciones en el subconciente que nos puede beneficiar. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide04">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Guia</span>
                                <h2>Empecemos con lo basico</h2>
                            </div>
                            <div class="skills-row animate" data-animate="fadeInDown">
                                <div class="row">
                                    <div class="col-md-8 offset-md-2">   
                                        
                                        <div class="skill-item">
                                            <p style="text-align: justify;">En este artículo, exploraré los detalles, cómo diseñamos interfaces que son
                                                consistentes y escalables . Nuestro objetivo en esta fase del proceso de diseño es 
                                                aplicar lo que hemos aprendido del diseño de nuestra interfaz de usuario mediante:</p>
                                           <ul type="A" style="text-align: justify;">
                                               <li>Usar evaluaciones comparativas para desarrollar inventarios de interfaces que aseguren que tu interfaz de usuario sea considerada coherente</li>
                                               <li>Crear una biblioteca de patrones, informada por tu inventario de interfaz, para garantizar que lo que diseñes sea rentable y consistente</li>
                                               <li>Adoptar la animación como una forma de comunicarte con los usuarios, mejorando nuestro diseño a niveles tanto de funcionalidad como de deleite.</li>
                                           </ul>
                                           <p style="text-align:justify;">En resumen, este artículo está destinado a ayudarte a desarrollar un enfoque sistemático hacia el diseño 
                                               de la interfaz de usuario que sea ampliamente aplicable en una variedad de proyectos y que sea escalable.
                                                Al construir un marco para el diseño, podemos aplicar las lecciones aprendidas de otros, mejorando así
                                                 nuestros diseños y dando como resultado un mejor resultado para nuestros usuarios.</p>
                                           <h6 style="margin: 20px 20px;">Comienza con un inventario de interfaz de usuario</h6>
                                           <p style="text-align:justify;">Es posible que estés comenzando desde cero con un nuevo producto o revisando un producto existente, 
                                               pero es útil comenzar estableciendo un inventario de interfaz. Así como un inventario de contenido ayuda a 
                                               garantizar que el contenido (es decir, palabras, imágenes y otros tipos de contenido) sea coherente, un 
                                               inventario de interfaz de usuario también garantiza que las interfaz de usuario se desarrollen de forma 
                                               coherente dentro de un marco completo y considerado.</p>
                                           <p style="text-align:justify;">Dedicar un poco de tiempo a esto por adelantado ahorrará mucho tiempo a largo plazo al establecer 
                                               sistemas de diseño que sean consistentes entre los miembros del equipo y que sean fácilmente escalables. La creación de un 
                                               inventario de interfaz de usuario te ayuda a centrar tu tiempo y esfuerzo en los elementos que necesitas en este momento, 
                                               pero, al igual que una guía de estilo , debe ser un documento vivo que sea extensible y que crezca a medida que crece tu producto.</p>
   
                                           <p style="text-align:justify;">Entonces, ¿qué es exactamente un «inventario de interfaz de usuario»? Bueno, el término fue acuñado y 
                                               popularizado por Brad Frost. Toma la idea que sustenta los inventarios de contenido y la asigna al mundo del diseño de interfaz de usuario. 
                                               Como resume Frost: «Un inventario de interfaz de usuario es similar a un inventario de contenido, solo que en lugar de examinar y categorizar 
                                               el contenido, estás haciendo un inventario y categorizando los componentes que componen tu sitio web o producto. Un inventario de interfaz de 
                                               usuario es una colección completa de partes y piezas que componen tu interfaz «.</p>
                                           <p style="text-align:justify;">Si estás rediseñando un producto existente, un inventario de interfaz de usuario comienza mapeando todos tus componentes,
                                                sin importar cuán grandes o pequeños sean, para que se documenten sistemáticamente. Si te estás embarcando en un nuevo proyecto, es posible que 
                                                quieras trazar un mapa del producto de la competencia y realizar un análisis del trabajo de otros. Esto te ayuda a familiarizarte con los 
                                                diferentes componentes de la interfaz que deberás tener en cuenta.</p>
                                        </div>
                                        <div class="thumb">
                                            <img src="static/images/intefaz 1.png" alt="">
                                        </div>
                                        <div class="skill-item"></div>
                                        <div class="skill-item">
                                            <p style="text-align:justify;">La primera etapa del proceso es realizar capturas de pantalla de todo lo que has diseñado de forma sistemática. Esto llevará mucho tiempo, pero 
                                                es importante. En esta etapa, especialmente si tienes un equipo de diseño considerable, es posible que comiences a ver inconsistencias en cómo 
                                                se han diseñado los diferentes elementos. Tu inventario de interfaz te ayudará a identificar estos elementos, que luego podrás corregir.</p>
                                            <p style="text-align:justify;"></p>  
                                            <ul style="text-align:left;">
                                                <li>Tipografía</li>
                                                <ul>
                                                    <li>Encabezados y subtítulos</li>
                                                    <li>Elementos de texto</li>
                                                </ul>
                                                <li>Imágenes y medios</li>
                                                <ul>
                                                    <li>Logotipos</li>
                                                    <li>Iconografía</li>
                                                    <li>Imágenes</li>
                                                </ul>
                                                <li>Formularios</li>
                                                <ul>
                                                    <li>Entradas de texto</li>
                                                    <li>Entradas de radio / casilla de verificación</li>
                                                    <li>Seleccionar menús</li>
                                                </ul>
                                            </ul>
                                            <p style="text-align:justify;">Es posible que hayas diseñado estos diferentes componentes cuando surgió la necesidad, sin ningún enfoque sistemático. La idea de un inventario de interfaz es imponer un 
                                                orden en este proceso asegurando que todo sea consistente.</p> 
                                            <p style="text-align:justify;">La segunda fase del proceso, categorizar todo, está destinada a imponer cierto orden a las capturas de pantalla que has realizado. Puedes organizar tus capturas de pantalla usando todo tipo de herramientas, pero te sugiero que organices todo usando Keynote o PowerPoint, de esa manera puedes presentar el trabajo cuando esté completo a tu equipo. El siempre útil Brad Frost ha proporcionado una plantilla que puede usar (ZIP).</p>     
                                            <p style="text-align:justify;">Una vez realizado el trabajo anterior, es una buena idea reunirse en equipo o con el cliente y analizar todo. Esta discusión conducirá a una mejor comprensión de los diferentes componentes que necesitas diseñar. También es probable que conduzca a una optimización de los diferentes componentes mediante la identificación de patrones compartidos, una gran ventaja para la eficiencia.</p>
                                            <h6 style="margin: 20px 20px;">Construye una biblioteca de patrones</h6>
                                            <p style="text-align:justify;">Con su inventario de interfaz realizado y todos sus componentes organizados, es importante comenzar a identificar patrones de diseño comunes y construir en torno a ellos . Es probable que su inventario de interfaz haya revelado graves inconsistencias en su diseño, ahora es el punto en el proceso de diseño en el que debe abordarlas reconstruyendo su interfaz de usuario de manera modular. Me parece útil pensar en este enfoque como algo parecido a LEGO.</p>
                                            <p style="text-align:justify;">Con LEGO, puedes (usando componentes pequeños) construir cosas increíblemente complicadas. Las interfaces son similares. Aunque a primera vista una interfaz puede ser increíblemente compleja, se compone esencialmente de componentes más pequeños. Estos componentes son donde entran en juego las bibliotecas de patrones. Entonces, ¿qué es una biblioteca de patrones?</p>
                                            <p style="text-align:justify;">Una biblioteca de patrones identifica y clasifica patrones de diseño que son soluciones recurrentes a problemas de diseño típicos. Estos pueden ser:</p>
                                            <ul style="text-align:left;">
                                                <li>Selectores de calendario</li>
                                                <li>Senderos de migas de pan</li>
                                                <li>Carruseles</li>
                                            </ul>
                                            <p style="text-align:justify;">Una biblioteca de patrones divide una interfaz en elementos más pequeños que luego se pueden usar como bloques de construcción reutilizables. Los beneficios de este enfoque incluyen:</p>
                                            <dl>
                                                <dt>Coherencia en su diseño</dt>
                                                <dd>Al crear elementos de interfaz de usuario complejos utilizando componentes más pequeños y reutilizables, se asegura de que todos los elementos de la interfaz de usuario sean coherentes porque todos están construidos a partir de los mismos componentes simples.</dd>
                                                <dt>Un vocabulario visual que puede compartir con los miembros del equipo.</dt>
                                                <dd>Al establecer una biblioteca de patrones para su producto, todos los miembros de su equipo construyen usando eso como base, en lugar de construir sus propios elementos ad-hoc.</dd>
                                                <dt>Eficiencia a lo largo del tiempo a medida que se desarrollan sus diseños</dt>
                                                <dd>Al establecer una biblioteca de patrones para su producto, todos los miembros de su equipo construyen usando eso como base, en lugar de construir sus propios elementos ad-hoc.</dt>
                                            </dl>
                                            <p style="text-align:justify;">Al diseñar su interfaz de usuario, es útil consultar los patrones de diseño de otros para ver qué funciona, e igualmente, qué no. UI Patterns es un recurso excelente para hacer esto, ya que reúne una gran cantidad de patrones de diseño.</p>
                                            <p style="text-align:justify;">Al utilizar su inventario de interfaz como punto de partida para identificar patrones de diseño comunes, está a un paso de establecer los componentes que necesita crear para establecer un sistema de diseño. Esto ayudará a garantizar que su interfaz de usuario sea coherente y escalable.</p>
                                            <h6 style="margin: 20px 20px;">Adopción del sistema atómico</h6>
                                            <p style="text-align:justify;">La idea es, que debemos dejar de diseñar páginas de forma aislada y centrarnos en la creación de los sistemas a partir de los cuales se construyen esas páginas y a la importancia de centrarse en los patrones de diseño.</p>
                                            <p style="text-align:justify;">Tenemos la suerte de que varios diseñadores hayan tomado el relevo y hayan explorado esta línea de pensamiento en profundidad. El libro de Brad Frost sobre diseño atómico y el libro de Alla Kholmatova sobre sistemas de diseño están llenos de consejos útiles y deberían ser una lectura obligatoria. Los recomiendo encarecidamente.</p>
                                            <p style="text-align:justify;">Destacando la importancia de adoptar un enfoque metódico hacia el diseño de interfaces, Frost afirma: «Estoy interesado en saber de qué se componen nuestras interfaces y cómo podemos construir sistemas de diseño de una manera más metódica. En la búsqueda de inspiración y paralelos, sigue volviendo a la química. […] Toda la materia está compuesta de átomos . Esas unidades atómicas se unen para formar moléculas, que a su vez se combinan en organismos más complejos para finalmente crear toda la materia en nuestro universo. De manera similar, las interfaces están formadas por componentes más pequeños. Esto significa que podemos dividir interfaces enteras en bloques de construcción fundamentales y trabajar a partir de ahí. Esa es la esencia básica del diseño atómico</p>
                                            <p style="text-align:justify;">La metodología de Frost establece cinco niveles distintos que comprenden el diseño atómico: átomos, moléculas, organismos, plantillas y páginas. Al construir desde el átomo hacia arriba, creamos bloques de construcción fundamentales de diseño que nos permiten construir cualquier cosa.</p>
                                        </div>

                                        <div class="thumb">
                                            <img src="static/images/interfaz 2.png" alt="">
                                        </div>

                                        <div class="skill-item">
                                            <h6 style="margin: 20px 20px;">CÓMO COMENZAR CON LOS KITS DE UI<h6>
                                            <p style="text-align:justify;">Como diseñadores que trabajan, en su mayor parte, en la web, somos increíblemente afortunados de ser parte de una comunidad que celebra un enfoque compartido hacia el trabajo que hacemos. Hemos visto una explosión de kits de interfaz de usuario, conjuntos de componentes de interfaz de usuario diseñados sistemáticamente, en los últimos años, lo que nos ha ayudado a hacer la vida un poco más fácil.</p>
                                            <p style="text-align:justify;">No tiene sentido perder el tiempo rediseñando componentes comunes de la interfaz de usuario cuando un kit de interfaz de usuario puede ahorrarte este tiempo y esfuerzo. Un kit de interfaz de usuario bien diseñado puede constituir la piedra angular de un producto digital, ya sea un sitio web o una aplicación, lo que garantiza que tengas una apariencia y una identidad visual coherentes.</p>
                                        </div>

                                        <div class="thumb">
                                            <img src="static/images/interfaz 3.png" alt="">
                                        </div>

                                        <div class="skill-item">
                                            <p style="text-align:justify;">Adobe se ha asociado con una serie de diseñadores de renombre mundial para crear fantásticos kits de interfaz de usuario de Adobe XD , que vale la pena explorar. También han proporcionado algunos excelentes tutoriales sobre cómo comenzar tu diseño con kits de interfaz de usuario para que puedas comenzar a usarlo .</p>        
                                            <p style="text-align:justify">Además de ofrecer una serie de conjuntos de iconos gratuitos (diseñados por Lance Wyman, Büro Destruct y Anton & Irene), también han creado un conjunto completo de kits de interfaz de usuario gratuitos con plantillas prediseñadas para proyectos web y móviles.</p>
                                            <p style="text-align:justify">Los kits de interfaz de usuario son increíblemente útiles y pueden ahorrarte una cantidad considerable de tiempo al evitar que tengas que volver a dibujar elementos de uso común. Sin embargo, una nota de precaución, como con cualquier kit genérico, existe el peligro de caer en un enfoque basado en plantillas en el que un diseño se parece mucho a otro. Es importante usar un kit como punto de partida , sobre el cual colocar la apariencia que estableciste al crear tus collages de elementos.</p>
                                        </div> 
                                        
                                        <div class="skill-item">
                                            <h6 style="margin: 20px 20px;">Diseño de interacciones y animaciones</h6>
                                            <p style="text-align:justify">Uno de los diferenciadores clave entre el diseño para pantalla y la impresión es que cuando diseñamos para pantalla, estamos diseñando para un medio fluido . Ésta es una diferencia fundamental entre el diseño de interacción y el diseño gráfico.</p>
                                            <p style="text-align:justify">Como diseñadores de interacción, no estamos diseñando colecciones estáticas de páginas, estamos considerando cómo interactúan estas páginas y los elementos dentro de estas páginas. Esta es una distinción fundamental y que a menudo es pasada por alto por un subconjunto de diseñadores gráficos que creen que su función es simplemente diseñar conjuntos de páginas que luego serán pasadas y «unidas» por «alguien técnico».</p>
                                            <p style="text-align:justify">A riesgo de dar rienda suelta a la lata de gusanos de que ‘los diseñadores deben programar’ que constantemente asoma la cabeza, es fundamental que los diseñadores que trabajan en este medio comprendan cómo funciona el medio. Para diseñar realmente experiencias memorables, es importante dedicar un tiempo a aprender sobre los principios de la animación. Afortunadamente, herramientas como Adobe XD abstraen gran parte del código con el que uno habría tenido que lidiar en el pasado para diseñar experiencias interactivas inmersivas.</p>
                                            <div class="thumb">
                                                <img src="static/images/interfaz 4.png" alt="">
                                            </div>
                                            <p style="text-align:justify">Al diseñar para pantallas, medios inherentemente fluidos , es fundamental considerar cómo el usuario interactuará con lo que estás diseñando , considerando cómo se manejan las transiciones de una pantalla a otra y brindando comentarios valiosos dentro de los componentes de la interfaz de usuario. Necesitamos considerar tanto las macro interacciones (a nivel de página) como las micro interacciones (a nivel de objeto).</p>
                                        </div>

                                        <div class="skill-item">
                                            <h6 style="margin: 20px 20px;">Pasando de A a B</h6>
                                            <p style="text-align:justify">En este punto del proceso, debemos centrarnos en cómo los usuarios se mueven entre estas pantallas , pasando de A → B → C.</p>
                                            <p style="text-align:justify">En el pasado, podríamos habernos movido simplemente entre pantallas con poca o ninguna animación, limitados por los dispositivos que usábamos en ese momento. Sin embargo, a medida que la potencia de procesamiento en nuestros dispositivos móviles y de escritorio ha aumentado, también lo ha hecho la cantidad de oportunidades que se nos brindan para diseñar experiencias más inmersivas.</p>
                                            <p style="text-align:justify">Por supuesto, necesitamos usar estos nuevos poderes con moderación, pero el hardware a disposición de nuestros usuarios ahora nos brinda la oportunidad de diseñar interacciones agradables. Es por eso que hemos visto un aumento en el interés por la animación en los últimos años. Como diseñadores, respondemos a las herramientas a nuestra disposición; a medida que evolucionan esas herramientas, también deben hacerlo nuestros diseños.</p>
                                            <p style="text-align:justify">Al diseñar transiciones entre pantallas, debemos considerar una serie de factores, que incluyen:</p>
                                            <dl style="text-align:left;">
                                                <dt>Cómo el usuario activa la transición para pasar de una página a otra</dt>
                                                <dd>Al hacer clic en un botón o al deslizar el dedo en la pantalla.</dd>
                                                <dt>Qué tipo de transición usamos</dt>
                                                <dd>Disuelve, limpia, escala u otros efectos. La transición que elijamos se comunicará con el usuario, por lo que es importante elegirla con cuidado.</dd>
                                                <dt>¿Cuánto tiempo dura la transición?</dt>
                                                <dd>¿Es rápida o lenta?</dd>
                                            </dl>
                                            <p style="text-align:left;">A medida que diseñamos el viaje desde A → B → C, las elecciones que hacemos (es decir, desencadenantes, transiciones y tiempos) afectarán la narrativa, por lo que es importante pensar en ellas. Al igual que con cualquier viaje, transcurre con más suavidad si se disfruta.</p>
                                            <p style="text-align:left;">El tipo de contenido que estamos diseñando también influirá en estas decisiones. En algunos casos, nos gustaría que un usuario se moviera un poco más lentamente a través de una narrativa usando transiciones y tiempos para marcar el ritmo de las cosas. En otros casos, nos gustaría salirnos del camino acelerando las transiciones.</p>
                                            <p style="text-align:left;">Cuando Apple lanzó iBooks por primera vez, su transición de página al leer un libro (un efecto de ‘curvatura de página’) ralentizó a los lectores. El ‘enrollamiento de la página’ fue delicioso a primera vista, pero una vez que lo viste cientos de veces, cuando todo lo que querías hacer era leer un libro, se volvió increíblemente frustrante. Los microsegundos utilizados en cada vuelta de página se sumaron a una experiencia frustrante.</p>
                                            <p style="text-align:left;">Al diseñar transiciones entre pantallas, es importante no perder de vista la funcionalidad subyacente. Al final del día, nuestro objetivo es deleitar a nuestros usuarios, no frustrarlos .</p>
                                            <p style="text-align:left;">La animación puede ser una delicia, por supuesto, pero no si es a expensas de la funcionalidad. Sophie Paxton escribe sobre este mismo tema en un excelente artículo titulado Tu interfaz de usuario no es una película de Disney , que destaca cómo la animación gratuita y las interfaces de usuario demasiado animadas pueden, si no tenemos cuidado, frustrar a los usuarios. Vale la pena leerlo.</p>
                                        </div>

                                        <div class="skill-item">
                                            <h6 style="margin: 20px 20px;">Interactuar con objetivos</h6>
                                            <p style="text-align:justify">Con nuestras macro interacciones definidas a nivel de página, es hora de centrar nuestra atención en las micro interacciones a nivel de objeto.                                            </p>
                                            <p style="text-align:justify">Así como debemos considerar todos los factores que se suman para facilitar a los usuarios de una página a otra, también es importante prestar atención a facilitar las interacciones de los usuarios con objetos específicos dentro de nuestras páginas. Estos pueden incluir botones, campos de formulario y otros elementos en los que una pequeña animación juiciosa puede ayudar a proporcionar comentarios a nuestros usuarios.</p>
                                            <p style="text-align:justify">Proporcionar comentarios visuales es extremadamente importante en el diseño de la interfaz de usuario: tranquiliza a los usuarios al proporcionar una señal de que sus acciones han sido reconocidas . Cuando hago clic en un interruptor de luz en el ‘mundo real’, recibo retroalimentación al escuchar un clic satisfactorio, así como el resultado del encendido o apagado de la luz. Esta retroalimentación me permite saber lo que está sucediendo.</p>
                                            <p style="text-align:justify">Podemos mejorar nuestros diseños de interfaz de usuario aplicando estas lecciones del mundo real al mundo de las pantallas. Una interfaz de usuario bien diseñada debe responder a las acciones de un usuario , haciéndole saber que tus acciones tienen el efecto deseado, tranquilizándolo. Aquí es donde la animación puede jugar un papel importante.</p>
                                            <div class="thumb">
                                                <img src="static/images/interfaz 5.png" alt="">
                                            </div>
                                            <p style="text-align:justify">Sitios como UI Movement brindan una gran cantidad de inspiración, mostrando ejemplos efectivos de animación aplicada a interfaces de usuario. Es importante considerar cómo proporciona comentarios y en qué contexto, por ejemplo:</p>
                                            <ul style="text-align:left;">
                                                <li>Cuando solicita una contraseña, es útil indicar la fortaleza o debilidad de la contraseña mientras el usuario ingresa la información (descubrir solo más tarde que una contraseña es demasiado débil es frustrante).</li>
                                                <li>Cuando un usuario interactúa con un botón, ayuda a proporcionar comentarios, lo que le permite saber que tus acciones han sido reconocidas.</li>
                                                <li>Al interactuar con selectores de fechas y calendarios, existe un margen considerable para proporcionar comentarios útiles.</li>
                                            </ul>
                                            <p style="text-align:justify">Los escenarios anteriores son solo la punta del iceberg. En cualquier lugar donde se le pida a tu usuario que interactúe con elementos en una página, es una oportunidad para considerar el uso de la animación para proporcionar comentarios útiles. Por supuesto, como señalé anteriormente, tu interfaz de usuario no es una película de Disney, ¡así que no te excedas!</p>
                                            <p style="text-align:justify">Finalmente, vale la pena señalar que la animación no es para todos y puede, para algunas personas, causar problemas. Para los usuarios con trastornos vestibulares , el movimiento puede causar mareos o náuseas, por lo que es importante tener en cuenta la accesibilidad al utilizar la animación.</p>
                                            <p style="text-align:justify">Podría ser una idea ofrecer a los usuarios una opción, y es genial ver sitios como la Feria Mundial de CodePen que alertan a los usuarios sobre el uso de la animación y les ofrecen la opción de continuar en el sitio con o sin animación . Es genial ver este tipo de consideración: ¡Bravo por la accesibilidad!</p>
                                        </div>
                                        <div class="skill-item last-skill">
                                            <h6 style="margin: 20px 20px;">En cierre </h6>
                                            <p style="text-align:justify">Al diseñar tu interfaz de usuario, es útil tener un sistema en su lugar. Esto asegura que todo lo que construyas sea coherente y consistente. Comenzar con un inventario de interfaz, especialmente cuando estás revisando un producto existente como parte de un rediseño, lo ayudará a identificar los puntos donde tu interfaz necesita funcionar. Con el tiempo, es natural que surjan inconsistencias.</p>
                                            <p style="text-align:justify">Cuando llegue el momento de construir tu interfaz, dedica algo de tiempo a establecer un sistema de diseño considerado. Esto no solo garantiza que tu diseño sea coherente, sino que también ayuda a mantener a su equipo en la misma página y proporciona a los autónomos que trabajan en el proyecto toda la orientación que necesitan en una ubicación central.</p>
                                            <p style="text-align:justify">Por último, es importante considerar el diseño de sus interacciones y animaciones. Como diseñadores que trabajan para pantallas, es importante que consideremos cómo lo que diseñamos responde a las interacciones de los usuarios. Después de todo, estamos diseñando para un medio maleable, ¡usemos esa maleabilidad a nuestro favor! Al unir todo lo anterior, tendrá las bases de un enfoque de interfaz de usuario sólido que resistirá la prueba del tiempo.</p>
                                            <h6 style="margin: 20px 20px;">LECTURA SUGERIDA</h6>
                                            <p style="text-align:justify">Hay muchas publicaciones excelentes, tanto en línea como fuera de línea, que te ayudarán en tu aventura. He incluido algunos a continuación para comenzar tu viaje.</p>
                                            <p style="text-align:justify">Alla Kholmatova ha escrito un excelente libro sobre sistemas de diseño , que recomiendo encarecidamente. Explora cómo la construcción de sistemas de diseño efectivos puedes capacitar a los equipos para crear excelentes productos digitales.</p>
                                            <p style="text-align:justify">Brad Frost ha escrito extensamente sobre el proceso de realizar inventarios de interfaces . También ha escrito un libro muy bueno, Atomic Design , que se centra en la creación de sistemas de diseño de interfaces eficaces. Frost es una cookie inteligente y recomiendo encarecidamente que marque su blog como favorito.</p>
                                            <p style="text-align:justify">Si está interesado en aprender más sobre el diseño de interacciones y animaciones, le recomiendo encarecidamente los recursos de animación y experiencia de usuario de Val Head . Head organiza talleres y también tiene un excelente boletín informativo por correo electrónico.</p>
                                            <p style="text-align:justify">Si la web es tu medio y es nuevo en la animación, deja todo y regístrate en el curso de animación CSS de Donovan Hutchinson . Es un curso excelente y el estilo de enseñanza de Hutchinson es insuperable.</p>
                                            <p style="text-align:justify">Es cierto que la creación de una interfaz de usuario puede ser desafiante y confusa, pero para eso estamos, para ayudar. Contacta hoy para programar tu sesión de estrategia y dejar que comience la lluvia de ideas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide06">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Fin</span>
                                <h2>Hasta ahora hasta aqui me han desarrollado mas no obstante espera por mas!!, muchas gracias por mirarme</h2>
                                <p>Atte: Anastasia</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>  

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/fullpage.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/scrolloverflow.js') }}"></script>

    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/jquery.inview.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/form.js') }}"></script>

    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


  </body>
</html>